<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<title>What a Burger</title>
	</head>
	<body>	
		{{{ body }}}
	</body>
</html>